/* Typography Elements */

body {
  font-family: "Open Sans", "Helvetica Neue",Helvetica,Arial,sans-serif;
}

h1, h2, h3, h4, h5, h6 {
  font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 400;
}

a,
a:hover,
a:active,
a:focus {
  color: #34495e;
}

.page-title {
  margin: 30px 0;
}

.page-title h1 {
  margin: 0;
  font-size: 26px;
  margin-bottom: 15px;
}

.page-title small {
  font-size: 18px;
}

.page-title .breadcrumb {
  background-color: #e0e7e8;
  margin-bottom: 0;
}

.page-title .date-picker {
  margin-right: -15px;
  margin-top: -8px;
}

.page-title .date-range {
  display: none;
}

.page-title .btn {
  border: none;
  height: 36px;
  padding-top: 8px;
}

@media (min-width:768px) {

  body {
    background: #34495e;
  }
  
  .page-title .date-range {
	display: inherit;
  }

}

/* Color Helpers */

.green {
  background-color: #16a085;
}

.text-green {
  color: #16a085;
}

.blue {
  background-color: #2980b9;
}

.text-blue {
  color: #2980b9;
}

.orange {
  background-color: #f39c12;
}

.text-orange {
  color: #f39c12;
}

.yellow {
  background-color: #f1c40f;
}

.text-yellow {
  color: #f1c40f;
}

.red {
  background-color: #e74c3c;
}

.text-red {
  color: #e74c3c;
}

.purple {
  background-color: #8e44ad;
}

.text-purple {
  color: #8e44ad;
}

/* Wrappers */

#wrapper {
  width: 100%;
}

#page-wrapper {
  padding: 0 15px;
  border: none;
  background-color: #ecf0f1;
}

@media (min-width:768px) {

  #page-wrapper {
	margin: 65px 15px 15px 225px;
	padding: 0 30px;
    border: 1px solid #2c3e50;
    padding-bottom: 50px;
  }

  #page-wrapper.collapsed {
	margin: 65px 15px 15px 15px;
  }

}

/* Top Navigation */

.navbar-top {
  background-color: #2c3e50;
  margin-left: 0;
}

.navbar-top .navbar-brand a {
  font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif;
  color: #fff;
  font-size: 19px;
  display: inline-block;
}

.navbar-top .navbar-brand a:hover {
  color: #ccd1d7;
  text-decoration: none;
}

.navbar-top .navbar-left {
  display: none;
}

.navbar-top .navbar-header {
  background-color: #142434;
}

.navbar-top .navbar-toggle {
  outline: none;
  color: #fff;
}

.navbar-top .navbar-toggle:active,
.navbar-top .navbar-toggle:focus,
.navbar-top .navbar-toggle:hover {
  color: #eee;
  border:1px #555 solid;
}

.navbar-top .dropdown-toggle {
  padding-top: 6px;
  padding-bottom: 4px;
}

.navbar-top .nav-top {
  margin-left: 15px;
}

.navbar-top>.nav-top>.nav>li {
  display: inline-block;
  float: left;
}

.navbar-top>.nav-top>ul.navbar-right>li {
  margin-right: 5px;
}

.navbar-top>.nav-top>ul.navbar-right>li:last-child {
  margin-right: 0;
}

.navbar-top>.nav-top>.nav>li>a {
  height: 50px;
  padding-top: 15px;
  color: #fff;
}

.navbar-top>.nav-top>.nav>li>a:hover,
.navbar-top>.nav-top>.nav>li>a:focus {
  color: #fff;
  background-color: #142434;
}

/* -- Messages, Alerts, Tasks Dropdowns */

.navbar-top .dropdown-messages {
  left: 0;
  min-width: 280px;
  border-color: #8bd0c2;
}
  
.navbar-top .dropdown-alerts {
  left: -60px;
  min-width: 280px;
  border-color: #f9ce89;
}
  
.navbar-top .dropdown-tasks {
  left: -119px;
  min-width: 280px;
  border-color: #94c0dc;
}
  
.navbar-top .dropdown-user {
  left: -80px;
  min-width: 200px;
  margin: 0;
}

.navbar-top .dropdown-scroll {
  padding: 0;
  margin: 0;
}

.navbar-top .dropdown-scroll .dropdown-header {
  padding: 15px 10px;
}

.navbar-top .dropdown-scroll .dropdown-header:active,
.navbar-top .dropdown-scroll .dropdown-header:focus,
.navbar-top .dropdown-scroll .dropdown-header:hover {
  background: inherit;
  color: inherit;
}

.navbar-top .dropdown-scroll li {
  background: #fff;
  margin: 0;
  border-bottom: 1px solid #ccc;
}

.navbar-top .dropdown-scroll li:last-child {
  border-bottom: none;
}

.navbar-top .dropdown-scroll li a {
  display: block;
  padding: 10px;
}

.navbar-top .dropdown-scroll li a:hover {
  text-decoration: none;
  background-color: inherit;
}

.navbar-top .dropdown-scroll .dropdown-footer {
  border-bottom: none;
  display: block;
  font-size: 12px;
  line-height: 1.428571429;
  border-top: 1px solid #ccc;
  text-align: center;
}

.navbar-top .dropdown-scroll p {
  margin: 0;
}

.navbar-top .dropdown-scroll li a,
.navbar-top .dropdown-scroll li a:hover,
.navbar-top .dropdown-messages li a:hover,
.navbar-top .dropdown-alerts li a:hover,
.navbar-top .dropdown-tasks li a:hover {
  color: #333;
}

.navbar-top .messages-link,
.navbar-top .messages-link:hover,
.navbar-top .messages-link:focus,
.navbar-top .dropdown-messages .dropdown-header,
.navbar-top .dropdown-messages .dropdown-header:hover,
.navbar-top .dropdown-messages .dropdown-footer,
.navbar-top .dropdown-messages .dropdown-footer a,
.navbar-top .dropdown-messages .dropdown-footer a:hover {
  background: #16a085 !important;
  color: #fff;
}

.navbar-top .alerts-link,
.navbar-top .dropdown-alerts .dropdown-header,
.navbar-top .dropdown-alerts .dropdown-header:hover,
.navbar-top .dropdown-alerts .dropdown-footer,
.navbar-top .dropdown-alerts .dropdown-footer a,
.navbar-top .dropdown-alerts .dropdown-footer a:hover {
  background: #f39c12 !important;
  color: #fff;
}

.navbar-top .alert-icon {
  color: #fff;
  text-align: center;
  width: 25px;
  margin-right: 5px;
}

.navbar-top .tasks-link,
.navbar-top .dropdown-tasks .dropdown-header,
.navbar-top .dropdown-tasks .dropdown-header:hover,
.navbar-top .dropdown-tasks .dropdown-footer,
.navbar-top .dropdown-tasks .dropdown-footer a,
.navbar-top .dropdown-tasks .dropdown-footer a:hover {
  background: #2980b9 !important;
  color: #fff;
}

.navbar-top .dropdown-tasks .progress {
  margin-bottom: 5px;
  height: 10px;
  border-radius: 0;
}

.navbar-top .number {
  position: absolute;
  font-size: 11px;
  background-color: #2c3e50;
  line-height: 20px;
  width: 20px;
  height: 20px;
  text-align: center;
  padding-right: 1px;
  border-radius: 50%;
  bottom: 25px;
  left: 3px;
}

@media (min-width:768px) {

  .navbar-top {
	top: 0;
    position: absolute; /* Changed to fixed for fixed nav */
    right: 0;
    left: 0;
    z-index: 1030;
    border-radius: 0;
    max-height: 50px; 
  }
  
  .navbar-top .navbar-header {
	background-color: transparent;
	/*width: 225px;*/
  }
  
  .navbar-top .navbar-left {
	display: inherit;
  }
  
  .navbar-top #sidebar-toggle {
	display: inline-block;
  }
  
  .navbar-top .nav-top {
	  text-align: inherit;
	  margin-right: 15px;
  }

  .navbar-top .dropdown-user {
	min-width: inherit;
	left: inherit;
  }

  .navbar-top .dropdown-messages,
  .navbar-top .dropdown-alerts,
  .navbar-top .dropdown-tasks {
	width: 300px;
	left: inherit;
  }

  .navbar-top .dropdown-scroll li a:hover {
	text-decoration: none;
  }
  
  .navbar-top .dropdown-messages li a:hover {
	background-color: #e8f6f3;
  }
  
  .navbar-top .dropdown-alerts li a:hover {
	background-color: #fef5e8;
  }
  
  .navbar-top .dropdown-tasks li a:hover {
	background-color: #eaf3f8;
  }
  
  .navbar-top .name {
	display: inherit;
	float: left;
	margin-right: 5px;
  }

}

/* Side Navigation */

.navbar-side .navbar-collapse {
  max-height: none;
  border: none;
}

.navbar-side li.side-user {
  display: block;
  width: 100%;
  padding: 15px;
  border-bottom: 1px solid #142638;/* dark */
  border-top: none !important;
  text-align: center;
}

.navbar-side .side-user img {
  display: block;
  margin-left: 20px;
  margin-bottom: 15px;
}

.navbar-side .side-user .welcome {
  color: #9aa4af;
  margin: 0;
  font-style: italic;
}

.navbar-side .side-user .welcome .fa {
  padding-right: 0;
}

.navbar-side .side-user .name {
  color: #ccd1d7;
  font-size: 20px;
  font-family: "Ubuntu", "Helvetica Neue",Helvetica,Arial,sans-serif;
  font-weight: 300;
  margin: 0;
}

.navbar-side .side-user .name .last-name {
  font-weight: 400;
  color: #fff;
}

.navbar-side .nav-search {
  border-top: none;
  padding: 15px;
}

.navbar-side .nav-search:hover {
  background: none;
}

.navbar-side .nav-search input {
  padding-right: 30px;
  border-radius: 0;
}

.navbar-side .nav-search button {
  position: absolute;
  right: 5px;
  top: 15px;
  background-color: transparent;
}

.navbar-side .nav-search .btn:focus,
.navbar-side .nav-search .btn:active {
  outline: none;
  box-shadow: none;
}

.navbar-side ul.side-nav {
  border-bottom: 1px solid #54677a;/* light */
  background-color: #34495e;
  font-size: 13px;
  margin-top: 0;
  margin-bottom: 0;
}

.navbar-side .navbar-nav>li>a,
.navbar-side .navbar-nav>li>a:focus,
.navbar-side .navbar-nav>li>a:hover,
.navbar-side .navbar-nav>li>a:active {
  color: #fff;
  text-shadow: 1px 1px 1px rgba(0, 0, 0, 0.1);
  background-color: #34495e;
  outline: none;
}

.navbar-side .side-nav li,
.navbar-side .side-nav li.panel {
  border-bottom: 1px solid #142638;/* dark */
  border-top: 1px solid #54677a;/* light */
}

.navbar-side .side-nav li.panel ul li {
  border-top: none;
  border-bottom: none;
}

.navbar-side .side-nav li.panel ul li a,
.navbar-side .side-nav li.panel ul li a:hover,
.navbar-side .side-nav li.panel ul li a:focus,
.navbar-side .side-nav li.panel ul li a:active,
.navbar-side .side-nav li.panel ul li .active {
  color: #333;
  background-color: #ecf0f1;
}

.navbar-side .side-nav li.panel i.fa,
.navbar-side .side-nav li i.fa {
  padding-right: 10px;
}

.navbar-side .side-nav li.panel ul li a {
  padding-left: 20px;
}

.navbar-side .side-nav .fa-caret-down {
  float: right;
  margin-top: 2px;
  margin-right: -10px;
}

.navbar-side .side-nav > li > a.active {
  background-color: #2c3e50;
}

.navbar-side .side-nav li.panel ul li a.active {
  background-color: #e0e7e8;
}

@media (min-width:768px) {

  .navbar-side.collapsed {
	display: none;
  }

  .navbar-side {
	position: absolute; /* Changed to fixed for fixed nav */
	border-radius: 0;
	top: 50px;
	width: 100%;
    z-index: 1020;
  }

  .navbar-side .side-nav {
	left: 0;
	width: 225px;
	position: absolute; /* Changed to fixed for fixed nav */
	border-radius: 0;
	border: none;
	overflow-y: auto;
  }
  
  .navbar-side ul.side-nav {
	background-color: transparent;
  }

  .navbar-side .side-nav > li > a {
	width: 225px;
  }
  
  .navbar-side li.nav-search {
	border-top: 1px solid #54677a;/* light */
  }

  .navbar-side .side-nav > li > a:hover {
	color: #fff;
	background-color: #3d566e;
  }
  
  .navbar-side .side-nav li.panel ul li a:hover,
  .navbar-side .side-nav li.panel ul li a:focus,
  .navbar-side .side-nav li.panel ul li a:active {
	background-color: #e0e7e8;
  }

}

/* Portlets */

.dash-feature,
.portlet {
  margin-bottom: 15px;
}

.portlet {
  border: 1px solid;
}

.portlet .portlet-heading {
  padding: 0 15px;
}

.portlet .portlet-heading h4 {
  font-size: 16px;
}

.portlet .portlet-heading a {
  color: #fff;
}

.portlet .portlet-heading a:hover,
.portlet .portlet-heading a:active,
.portlet .portlet-heading a:focus {
  outline: none;
}

.portlet .portlet-widgets .dropdown-menu a {
  color: #333;
}

.portlet .portlet-widgets ul.dropdown-menu {
  min-width: 0;
}

.portlet .portlet-heading .portlet-title {
  float: left;
}

.portlet .portlet-heading .portlet-title h4 {
  margin: 10px 0;
}

.portlet .portlet-heading .portlet-widgets {
  margin: 8px 0;
  float: right;
}

.portlet .portlet-heading .portlet-widgets .tabbed-portlets {
  display: inline;
}

.portlet .portlet-heading .portlet-widgets .divider {
  margin: 0 5px;
}

.portlet .portlet-body {
  background: #fff;
  padding: 15px;
}

.portlet .portlet-footer {
  padding: 10px 15px;
  background: #e0e7e8;
}

.portlet .portlet-footer ul {
  margin: 0;
}

.portlet-green,
.portlet-green>.portlet-heading {
  border-color: #16a085;
}

.portlet-green>.portlet-heading {
  color: #fff;
  background-color: #16a085;
}

.portlet-orange,
.portlet-orange>.portlet-heading {
  border-color: #f39c12;
}

.portlet-orange>.portlet-heading {
  color: #fff;
  background-color: #f39c12;
}

.portlet-blue,
.portlet-blue>.portlet-heading {
  border-color: #2980b9;
}

.portlet-blue>.portlet-heading {
  color: #fff;
  background-color: #2980b9;
}

.portlet-red,
.portlet-red>.portlet-heading {
  border-color: #e74c3c;
}

.portlet-red>.portlet-heading {
  color: #fff;
  background-color: #e74c3c;
}

.portlet-purple,
.portlet-purple>.portlet-heading {
  border-color: #8e44ad;
}

.portlet-purple>.portlet-heading {
  color: #fff;
  background-color: #8e44ad;
}

.portlet-default,
.portlet-default>.portlet-heading {
  border-color: #34495e;
}

.portlet-default>.portlet-heading {
  color: #fff;
  background-color: #34495e;
}

.portlet-basic,
.portlet-basic>.portlet-heading {
  border-color: #333;
}

.portlet-basic>.portlet-heading {
  color: #333;
  background-color: #fff;
  border-bottom: 1px solid #333;
}

@media (min-width:768px) {

  .dash-feature,
  .portlet {
	margin-bottom: 30px;
  }

}

/* Buttons */

.btn-green {
  background-color: #16a085;
  border-color: #15987e;
  color: #fff;
}

.btn-green:hover,
.btn-green:focus,
.btn-green:active,
.btn-green.active,
.open .dropdown-toggle.btn-green {
  background-color: #149077;
  border-color: #138871;
  color: #fff;
}

.btn-green.disabled,
.btn-green[disabled],
fieldset[disabled] .btn-green,
.btn-green.disabled:hover,
.btn-green[disabled]:hover,
fieldset[disabled] .btn-green:hover,
.btn-green.disabled:focus,
.btn-green[disabled]:focus,
fieldset[disabled] .btn-green:focus,
.btn-green.disabled:active,
.btn-green[disabled]:active,
fieldset[disabled] .btn-green:active,
.btn-green.disabled.active,
.btn-green[disabled].active,
fieldset[disabled] .btn-green.active {
  background-color: #39ae97;
  border-color: #2eaa91;
}

.btn-orange {
  background-color: #f39c12;
  border-color: #e79411;
  color: #fff;
}

.btn-orange:hover,
.btn-orange:focus,
.btn-orange:active,
.btn-orange.active,
.open .dropdown-toggle.btn-orange {
  background-color: #da8c10;
  border-color: #cf850f;
  color: #fff;
}

.btn-orange.disabled, .btn-orange[disabled], fieldset[disabled] .btn-orange, .btn-orange.disabled:hover, .btn-orange[disabled]:hover, fieldset[disabled] .btn-orange:hover, .btn-orange.disabled:focus, .btn-orange[disabled]:focus, fieldset[disabled] .btn-orange:focus, .btn-orange.disabled:active, .btn-orange[disabled]:active, fieldset[disabled] .btn-orange:active, .btn-orange.disabled.active, .btn-orange[disabled].active, fieldset[disabled] .btn-orange.active {
  background-color: #f5ab35;
  border-color: #f4a62a;
}

.btn-blue {
  background-color: #2980b9;
  border-color: #2779b0;
  color: #fff;
}

.btn-blue:hover,
.btn-blue:focus,
.btn-blue:active,
.btn-blue.active,
.open .dropdown-toggle.btn-blue {
  background-color: #2573a6;
  border-color: #236d9d;
  color: #fff;
}

.btn-blue.disabled, .btn-blue[disabled], fieldset[disabled] .btn-blue, .btn-blue.disabled:hover, .btn-blue[disabled]:hover, fieldset[disabled] .btn-blue:hover, .btn-blue.disabled:focus, .btn-blue[disabled]:focus, fieldset[disabled] .btn-blue:focus, .btn-blue.disabled:active, .btn-blue[disabled]:active, fieldset[disabled] .btn-blue:active, .btn-blue.disabled.active, .btn-blue[disabled].active, fieldset[disabled] .btn-blue.active {
  background-color: #4993c3;
  border-color: #3f8dc0;
}

.btn-red {
  background-color: #e74c3c;
  border-color: #db4839;
  color: #fff;
}

.btn-red:hover,
.btn-red:focus,
.btn-red:active,
.btn-red.active,
.open .dropdown-toggle.btn-red {
  background-color: #cf4436;
  border-color: #c54133;
  color: #fff;
}

.btn-red.disabled, .btn-red[disabled], fieldset[disabled] .btn-red, .btn-red.disabled:hover, .btn-red[disabled]:hover, fieldset[disabled] .btn-red:hover, .btn-red.disabled:focus, .btn-red[disabled]:focus, fieldset[disabled] .btn-red:focus, .btn-red.disabled:active, .btn-red[disabled]:active, fieldset[disabled] .btn-red:active, .btn-red.disabled.active, .btn-red[disabled].active, fieldset[disabled] .btn-red.active {
  background-color: #eb6759;
  border-color: #e95e50;
}

.btn-purple {
  background-color: #8e44ad;
  border-color: #8741a4;
  color: #fff;
}

.btn-purple:hover,
.btn-purple:focus,
.btn-purple:active,
.btn-purple.active,
.open .dropdown-toggle.btn-purple {
  background-color: #803d9b;
  border-color: #793a93;
  color: #fff;
}

.btn-purple.disabled, .btn-purple[disabled], fieldset[disabled] .btn-purple, .btn-purple.disabled:hover, .btn-purple[disabled]:hover, fieldset[disabled] .btn-purple:hover, .btn-purple.disabled:focus, .btn-purple[disabled]:focus, fieldset[disabled] .btn-purple:focus, .btn-purple.disabled:active, .btn-purple[disabled]:active, fieldset[disabled] .btn-purple:active, .btn-purple.disabled.active, .btn-purple[disabled].active, fieldset[disabled] .btn-purple.active {
  background-color: #9f60b9;
  border-color: #9a57b5;
}

.btn-default {
  background-color: #34495e;
  border-color: #314559;
  color: #fff;
}

.btn-default:hover,
.btn-default:focus,
.btn-default:active,
.btn-default.active,
.open .dropdown-toggle.btn-default {
  background-color: #2f4254;
  border-color: #2c3e50;
  color: #fff;
}

.btn-default.disabled, .btn-default[disabled], fieldset[disabled] .btn-default, .btn-default.disabled:hover, .btn-default[disabled]:hover, fieldset[disabled] .btn-default:hover, .btn-default.disabled:focus, .btn-default[disabled]:focus, fieldset[disabled] .btn-default:focus, .btn-default.disabled:active, .btn-default[disabled]:active, fieldset[disabled] .btn-default:active, .btn-default.disabled.active, .btn-default[disabled].active, fieldset[disabled] .btn-default.active {
  background-color: #526476;
  border-color: #495c6e;
}

.btn-white {
  color: #333333;
  background-color: #ffffff;
  border-color: #cccccc;
}

.btn-white:hover,
.btn-white:focus,
.btn-white:active,
.btn-white.active,
.open .dropdown-toggle.btn-white {
  color: #333333;
  background-color: #ebebeb;
  border-color: #adadad;
}

/* Dashboard Feature Boxes */

.dash-feature {
  color: #fff;
}

.dash-feature .feature-content {
  padding: 15px;
}

.dash-feature .feature-icon {
  color: #fff;
  color: rgba(0,0,0,0.2);
}

.dash-feature .feature-title {
  display: block;
  text-transform: uppercase;
  font-size: 12px;
  margin: 0;
}

.dash-feature .feature-value {
  display: block;
  font-weight: 600;
  font-size: 30px;
  margin: 0;
}

.dash-feature .feature-stats {
  font-size: 12px;
}

.dash-feature .feature-link {
  display: block;
  padding: 5px 15px;
  color: rgba(255,255,255,0.5);
  background-color: rgba(0,0,0,0.2);
}

.dash-feature .feature-link:hover {
  color: #fff;
  background-color: rgba(0,0,0,0.3);
}

/* Custom Table Styles */

table.table-green thead {
  background-color: #16a085;
  color: #fff;
}

/* Modal */

.modal-flex .modal-header {
  background-color: #2f4254;
  color: #fff;
}

.modal-flex .modal-header .close,
.modal-flex .modal-header .close:hover,
.modal-flex .modal-header .close:focus {
  color: #fff;
}

.modal-flex .modal-footer {
  background-color: #e0e7e8;
}

/* User Profile Page Styles */

.img-profile {
  border: 1px solid #34495e;
  margin-bottom: 10px;
}

.profile-edit {
  background: rgba(52, 73, 94,1.0);
  color: #fff;
  position: absolute;
  padding: 5px 10px;
}

.profile-edit:hover {
  background: rgba(52, 73, 94,0.8);
  color: #fff;
  position: absolute;
  padding: 5px 10px;
}

a.facebook-link:hover {
  color: #3b5998;
}

a.twitter-link:hover {
  color: #00aced;
}

a.linkedin-link:hover {
  color: #007bb6;
}

a.google-plus-link:hover {
  color: #dd4b39;
}

/* Mailbox Page Styles */

.mailbox-topnav {
  margin-bottom: 0;
}

.mailbox-sidenav {
  display: none;
}

.mailbox-messages {
  overflow: auto;
}

.mailbox-topnav>.navbar-header {
  width: 200px;
}

#mailbox-wrapper {
  margin-left: 0;
  overflow: hidden;
}

.mailbox-nav>ul>li>.navbar-btn {
  margin-right: 10px;
}

.mailbox-nav>ul>li.checkall {
  display: none;
}

.mailbox-nav>ul>li.message-actions {
  margin-left: 15px;
}

.mailbox-nav>ul>li.message-label {
  display: none;
}

.mailbox-menu-title {
  font-size: 12px;
  text-transform: uppercase;
  margin-bottom: 10px;
  padding-left: 15px;
}

.checkbox-col {
  width: 35px;
  text-align: center;
}

.date-col {
  min-width: 100px;
  overflow: hidden;
  text-align: right;
}

.from-col {
  min-width: 170px;
  overflow: hidden;
}

.msg-col {
  min-width: 800px;
}

.unread-message {
  font-weight: bold;
}

.clickableRow:hover {
  cursor: pointer;
}

@media (min-width:865px) {

  .mailbox-topnav {
	margin-bottom: 10px;
  }

  .mailbox-sidenav {
	width: 200px;
	position: absolute;
	display: inherit;
  }

  #mailbox {
  width: 100%;
  }

  #mailbox-wrapper {
	margin-left: 200px;
	padding-left: 15px;
	min-height: 600px;
  }

  .mailbox-nav {
	display: inherit;
	padding-left: 10px;
  }

  .mailbox-nav>ul>li.message-actions {
	display: inherit;
	margin-left: inherit;
  }

  .mailbox-nav>ul>li.message-label {
	display: inherit;
  }

  .mailbox-nav>ul>li.checkall {
	display: inherit;
	padding: 15px;
	margin-left: 11px;
  }

}

/* Chat Styles */

.chat-widget {
  max-height: 300px;
  overflow: auto;
}

/* Login Styles */

.login {
  background-color: #34495e;
}

.login-banner {
  color: #fff;
  margin: 50px 0;
}

.portlet .login-heading {
  padding: 15px;
}

/* Invoice Styles */

.invoice-terms {
  text-align: left;
}

/* Search Page Styles */

.search-item {
  margin-bottom: 25px;
}

.sr-name {
  font-size: 1.25em;
}

.sr-name a {
  text-decoration: underline;
}

.sr-name a:visited {
  color: #8e44ad;
}

@media (min-width:992px) {
	
  .invoice-terms {
	text-align: right;
  }
	
}

/* Pricing Table Styles */

.pricing-basic .plan {
  border: 1px solid #34495e;
  list-style: none;
  padding: 0 0 20px;
  margin: 0 0 15px;
  background: #fff;
  text-align: center;
}
.pricing-basic .plan li {
  padding: 10px 15px;
  color: #ccc;
  border-top: 1px solid #f5f5f5;
  -webkit-transition: 300ms;
  transition: 300ms;
}
.pricing-basic .plan li.plan-price {
  border-top: 0;
}
.pricing-basic .plan li.plan-name {
  padding: 15px;
  font-size: 24px;
  line-height: 24px;
  color: #fff;
  background: #34495e;
  margin-bottom: 30px;
  border-top: 0;
}
.pricing-basic .plan li > strong {
  color: #16a085;
}
.pricing-basic .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.pricing-basic .plan:hover li.plan-name {
  background: #333;
}

.pricing-circle .plan {
  border-radius: 4px;
  list-style: none;
  margin: 0 0 20px;
  background: #16a085;
  text-align: center;
  padding: 30px 0;
}
.pricing-circle .plan li {
  padding: 5px 0;
  color: #fff;
  -webkit-transition: 300ms;
  -moz-transition: 300ms;
  -o-transition: 300ms;
  transition: 300ms;
}
.pricing-circle .plan li.plan-name {
  font-size: 24px;
  line-height: 24px;
  color: #fff;
}
.pricing-circle .plan li.plan-name h3 {
  margin: 0;
}
.pricing-circle .plan li.plan-price {
  margin-bottom: 10px;
}
.pricing-circle .plan li.plan-price > div {
  display: inline-block;
  background-color: rgba(0, 0, 0, 0.2);
  padding: 10px;
  font-size: 24px;
  border-radius: 100%;
  width: 70px;
  height: 70px;
}
.pricing-circle .plan li.plan-price > div sup {
  font-size: 10px;
  line-height: 10px;
}
.pricing-circle .plan li.plan-price > div > small {
  display: block;
  font-size: 11px;
}
.pricing-circle .plan li.plan-action {
  margin-top: 10px;
  border-top: 0;
}
.pricing-circle .plan.featured {
  background-color: #34495e;
}

/* 404 Page Styles */

.error-title {
  font-size: 9em;
}

.error-msg {
  font-size: 2em;
}

/* Bootstrap Overrides */

.form-control:focus {
  border-color: #34495e;
  box-shadow: 0px 1px 1px rgba(0, 0, 0, 0.075) inset;
}

ol.breadcrumb li.pull-right:before {
  content: normal;
}

.dropdown-menu > li > a:hover,
.dropdown-menu > li > a:focus,
.modal,
.accordion-toggle:focus,
.btn:focus {
  outline: none;
}

.navbar-side .side-nav > .panel {
  margin-bottom: 0;
  background-color: transparent;
  border: none;
  border-radius: 0;
  box-shadow: none;
}

.panel {
  box-shadow: none;
}

.input-group-sm>.form-control,
.input-group-sm>.input-group-addon,
.input-group-sm>.input-group-btn>.btn,
.input-group-lg>.form-control,
.input-group-lg>.input-group-addon,
.input-group-lg>.input-group-btn>.btn,
.list-group-item:first-child,
.list-group-item:last-child,
.modal-flex,
.btn-square,
.squared,
.form-control,
.input-group-addon,
.input-group-btn .btn,
.dropdown-menu,
.panel-group .panel,
.panel-group .panel-heading,
.breadcrumb,
.nav-tabs > li > a {
  border-radius: 0;
}

.dropdown-menu>.active>a,
.dropdown-menu>.active>a:hover,
.dropdown-menu>.active>a:focus {
  background-color: #34495e;
}

a.list-group-item.active,
a.list-group-item.active:hover,
a.list-group-item.active:focus,
.nav-pills>li.active>a,
.nav-pills>li.active>a:hover,
.nav-pills>li.active>a:focus,
.pagination>.active>a,
.pagination>.active>span,
.pagination>.active>a:hover,
.pagination>.active>span:hover,
.pagination>.active>a:focus,
.pagination>.active>span:focus {
  background-color: #34495e;
  border-color: #34495e;
}

.nav-tabs,
.nav-pills {
  margin-bottom: 10px;
}

a.list-group-item:hover,
a.list-group-item:focus,
.nav-tabs > li > a:hover,
.nav-tabs > li > a:focus,
.nav-pills > li > a:hover,
.nav-pills > li > a:focus,
.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus,
.nav-pills .open > a,
.nav-pills .open > a:hover,
.nav-pills .open > a:focus,
.nav-tabs ul.dropdown-menu > li > a:hover,
.nav-tabs ul.dropdown-menu > li > a:focus,
.nav-pills ul.dropdown-menu > li > a:hover,
.nav-pills ul.dropdown-menu > li > a:focus {
  background-color: #ecf0f1;
}

.nav-tabs .open > a,
.nav-tabs .open > a:hover,
.nav-tabs .open > a:focus {
  border-color: #35495e;
}

/* Custom Radio Button and Checkbox Styles */

.radio,
.checkbox {
  min-height: 18px;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"],
input[type="checkbox"],
.checkbox input[type="checkbox"],
.checkbox-inline input[type="checkbox"] {
  position: relative;
  width: 13px;
  height: 13px;
  background: white;
  border: 1px solid #dcdcdc;
  border-width: 0\0;
  border-radius: 1px;
  -webkit-appearance: none;
          appearance: none;
}

input[type="radio"]:focus,
.radio input[type="radio"]:focus,
.radio-inline input[type="radio"]:focus,
input[type="checkbox"]:focus,
.checkbox input[type="checkbox"]:focus,
.checkbox-inline input[type="checkbox"]:focus {
  border-color: #35495e;
  outline: none;
}

input[type="radio"]:active,
.radio input[type="radio"]:active,
.radio-inline input[type="radio"]:active,
input[type="checkbox"]:active,
.checkbox input[type="checkbox"]:active,
.checkbox-inline input[type="checkbox"]:active {
  background-color: #ebebeb;
  border-color: #c6c6c6;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#ffffffff', endColorstr='#ffffffff', GradientType=0);
}

input[type="radio"]:checked,
.radio input[type="radio"]:checked,
.radio-inline input[type="radio"]:checked,
input[type="checkbox"]:checked,
.checkbox input[type="checkbox"]:checked,
.checkbox-inline input[type="checkbox"]:checked {
  background: #fff;
}

input[type="radio"],
.radio input[type="radio"],
.radio-inline input[type="radio"] {
  width: 15px;
  height: 15px;
  border-radius: 1em;
}

input[type="radio"]:checked::after,
.radio input[type="radio"]:checked::after,
.radio-inline input[type="radio"]:checked::after {
  position: relative;
  top: 3px;
  left: 3px;
  display: block;
  width: 7px;
  height: 7px;
  background: #666;
  border-radius: 1em;
  content: '';
}

input[type="checkbox"]:hover,
.checkbox input[type="checkbox"]:hover,
.checkbox-inline input[type="checkbox"]:hover {
  border-color: #c6c6c6;
  -webkit-box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
          box-shadow: inset 0 1px 1px rgba(0, 0, 0, 0.1);
  box-shadow: none \9;
}

input[type="checkbox"]:checked::after,
.checkbox input[type="checkbox"]:checked::after,
.checkbox-inline input[type="checkbox"]:checked::after {
  position: absolute;
  top: -6px;
  left: -5px;
  display: block;
  content: url(../../img/checkmark.png);
}

.form-horizontal .control-label,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 5px;
}

@media (min-width: 768px) {
  .form-inline .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .form-inline .form-control {
    display: inline-block;
  }
  .form-inline select.form-control {
    width: auto;
  }
  .form-inline .radio,
  .form-inline .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .form-inline .radio input[type="radio"],
  .form-inline .checkbox input[type="checkbox"] {
    float: none;
    margin-bottom: -2px;
    margin-left: 0;
  }
}

.form-horizontal .control-label,
.form-horizontal .radio,
.form-horizontal .checkbox,
.form-horizontal .radio-inline,
.form-horizontal .checkbox-inline {
  padding-top: 6px;
}

.form-horizontal .radio,
.form-horizontal .checkbox {
  min-height: 24px;
}

.form-horizontal .form-control-static {
  padding-top: 6px;
}

.input-group-addon input[type="radio"],
.input-group-addon input[type="checkbox"] {
  margin-bottom: -3px;
}

@media (min-width: 768px) {
  .navbar-form .form-group {
    display: inline-block;
    margin-bottom: 0;
    vertical-align: middle;
  }
  .navbar-form .form-control {
    display: inline-block;
  }
  .navbar-form select.form-control {
    width: auto;
  }
  .navbar-form .radio,
  .navbar-form .checkbox {
    display: inline-block;
    padding-left: 0;
    margin-top: 0;
    margin-bottom: 0;
  }
  .navbar-form .radio input[type="radio"],
  .navbar-form .checkbox input[type="checkbox"] {
    float: none;
    margin-bottom: -2px;
    margin-left: 0;
  }
}