body {
	background-color: #eee
}

.cover-img {
	background: url("../../img/web/header/bg-hmtc.jpg") top left no-repeat; 
	background-size: cover; 
	height: 580px;
}

#content {
	margin-top:80px;
}

.dropdown {
	cursor: pointer;
}

th {
	text-align: center;
}

th, td {
	padding:10px;
	
}

.table-resposive {
	overflow: overlay !important;
}


.glow{
	-webkit-box-shadow: 0px 0px 3px 5px #f2e1f2;
	-moz-box-shadow: 0px 0px 3px 5px #f2e1f2;
	box-shadow: 0px 0px 3px 5px #f2e1f2; 
}

.shadow  {
	-webkit-box-shadow: 0 8px 15px -8px black;
	-moz-box-shadow: 0 8px 15px -8px black;
	-ms-box-shadow: 0 8px 15px -8px black;
	-o-box-shadow: 0 8px 15px -8px black;
	box-shadow: 0 8px 15px -8px black;
}

input::-webkit-input-placeholder { 
    font-style:italic;
	font-family:Segoe UI;
}
input:-moz-placeholder { 
    font-style:italic;
	font-family:Monotype corsiva;
}
input::-O-placeholder { 
    font-style:italic;
	font-family:Monotype corsiva;
}
input:-ms-input-placeholder { 
    font-style:italic;
	font-family:Monotype corsiva;
}

.cover {
	position:fixed;
	width:100%;
	height:100%;
	background-color: rgba(0,0,0,0.5);
	z-index:1000;
}

.loading-container {
	font-family: Segoe UI;
	position:fixed;
	top:-20%;
	bottom:0;
	left:0;
	right:0;
	margin:auto;
	width: 300px;
	height: 300px;
	text-align:center;
	background-color: rgba(255,255,255,0.0);
	border-radius:5px;
	padding: 20px;
	z-index:1001;
}